body {
  font-family: Garamond;
  margin-top: 50px;
  font-size: 16 px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
  text-align: left;
}

.footnotes {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: left;
  font-size: 16px;
}

.footnotes li{
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: left;
  font-size: 14px;
  color: black;
}

.navbar {
  display: flex;
  gap: 20px;
  background: #111;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px;
}

/* container for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* hidden submenu */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #222;
  min-width: 160px;
  flex-direction: column;
  z-index: 10;
}

/* links inside dropdown */
.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
}

/* show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* hover effect */
.dropdown-content a:hover {
  background: #333;
}

cite {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

.background_image {
  background-image: var(--header_img);
  height: 200px;
  width: auto;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.title_text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  width: 80%;
  padding: 10px;
  text-align: top;
}

.bottom {
  background-color: black;
  color: white;
  margin:auto;
}